.bg_primary-color {
    background-color: #FFFFFF;
  }
  .primary-color {
    background-color: #FFFFFF;
  }
  .bg_secondary-color {
    background-color: #293241;
  }
  .secondary-color {
    color: #293241;
  }
  .custom-button.btn {
    background-color: #293241;
    color: #FFF;
    border: none;
  }
  .custom-button.btn:hover {
    color: #FFF !important;
    border: none;
  }
  .hero {
    width: 100vw;
    height: 50vh;
  }
  .hero img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }

img {
  max-width: 100%;
  height: auto;
}

header {
  background: #2b2b2b;
  height: 60px;
}

header h1 a{
  display: inline-block;
  font-family: "Maven Pro";
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 4px 1%;
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}